@{
    ViewBag.Title = "Home Page";
}

<div id="FinalMessage">
    <h3>Welcome to Jorge's Tic Tac Toe<br> Player X it's your turn.</h3>
</div>

<div id="resetButton">
    <button id="resetGame" onclick=restart(3)>Restart</button>
</div>

<div id="Multiplayer">
    <button id="multiplayer" onclick=multiplayer()>Online Multiplayer</button>
</div>

<div id="Grid">
</div>

<script>
    //Global Variables
    //X token = 0
    var turn = false;
    var array = [];
    var GameOver = false;
    const size = 3;


    function InitArray(gridSize) {
        for (var i = 0; i < 3; i++) {
            array[i] = [];
            for (var j = 0; j < 3; j++) {
                array[i][j] = -1;
            }
        }
    }

    function InitGrid(gridSize) {
        InitArray(gridSize);
        for (var i = 0; i < gridSize; i++) {
            for (var j = 0; j < gridSize; j++) {
                $("#Grid").append("<div onclick=execute(" + i + ',' + j + ") " + "class='square' id='box" + i + "" + j + "'></div>");
                var tempId = "#box" + i + "" + j;
                if (i != 0) {
                    $(tempId).addClass("top");
                }
                if (j != 0) {
                    $(tempId).addClass("left");
                }
            }
        }
    }

    function execute(row, column) {
        //Do nothing if game over
        if (GameOver) {
            return;
        }
        selected(row, column);
        if (turn) {
            $("#FinalMessage").empty();
            $("#FinalMessage").append("<h3>Player O it's your turn</h3>");
        }
        else {
            $("#FinalMessage").empty();
            $("#FinalMessage").append("<h3>Player X it's your turn</h3>");
        }
        var token = (turn == false ? 0 : 1);
        var result = checkWin(row, column);
        if (result) {
            FinalScreen(token);
            GameOver = true;
            return;
        }
        else {
            checkTie();
        }

    }

    //Checks which row was clicked on and if its valid
    function selected(row, column) {


        //String to store the ID of the cell
        var cellID = "#box" + row + column;

        //Places token if corresponding cell is available
        if (!isCellOccupied(row, column)) {
            //turn = false is "X" token
            if (!turn) {
                $(cellID).prepend('<img id="Ximage" src="Content/X.jpg" />')
                array[row][column] = 0;
                turn = true;
            }
            else {
                $(cellID).prepend('<img id="Oimage" src="Content/O.jpg" />')
                array[row][column] = 1;
                turn = false;
            }
        }
    }

    //checks if cell has been taken
    function isCellOccupied(row, column) {
        //if available and x turn
        if (array[row][column] == -1 && turn == false) {
            array[row][column] = 0;
            return false;
        }
        //if available and o turn
        else if (array[row][column] == -1 && turn == true) {
            array[row][column] = 1;
            return false;
        }
        //returns true if cell is occupied
        return true;
    }

    //checks if current token won
    function checkWin(row, column) {
        var sum = row + column;
        //check current tokens row
        if (array[row][0] == array[row][1] && array[row][1] == array[row][2]) {
            return true;
        }

        //check current tokens column
        else if (array[0][column] == array[1][column] && array[1][column] == array[2][column]) {
            return true;
        }

        //check bottom left to top right diagonal
        else if (sum == 2) {
            if (array[0][2] == array[1][1] && array[1][1] == array[2][0]) {
                return true;
            }
        }

        //check top left to bottom right diagonal
        else if (sum == 0 || sum == 2 || sum == 4) {
            if (array[0][0] == array[1][1] && array[1][1] == array[2][2]) {
                return true;
            }
        }

        //return false if none of the checks work.
        return false;
    }

    //checks if current state is a tie
    function checkTie() {
        var tie = true;
        for (var i = 0; i < 3; i++) {
            for (var j = 0; j < 3; j++) {
                if (array[i][j] == -1) {
                    return;
                }
            }
        }
        GameOver = true;
        FinalScreen(-1);
    }

    function FinalScreen(token) {
        //tied game
        if (token == -1) {
            $("#FinalMessage").empty();
            $("#FinalMessage").append("<h3>Unfortunately the game was a Tie :(</h3>");
        }
        //O wins the game
        else if (token == 0) {
            $("#FinalMessage").empty();
            $("#FinalMessage").append("<h3>Congratulation Player O you win!!!</h3>");
        }
        //X wins the game
        else {
            $("#FinalMessage").empty();
            $("#FinalMessage").append("<h3>Congratulation Player X you win!!!</h3>");
        }
    }

    //resets the game
    function restart(gridSize) {
        for (var i = 0; i < gridSize; i++) {
            for (var j = 0; j < gridSize; j++) {
                var tempId = "#box" + i + "" + j + " img:last-child";
                $(tempId).remove();
            }
        }
        InitArray(size);
        GameOver = false;
        if (turn) {
            $("#FinalMessage").empty();
            $("#FinalMessage").append("<h3>Player O it's your turn</h3>");
        }
        else {
            $("#FinalMessage").empty();
            $("#FinalMessage").append("<h3>Player X it's your turn</h3>");
        }
    }

    //Initializes grid
    InitGrid(size);
</script>